@model List<POCWebApp.Models.Round1Results>
@{
    ViewBag.Title = "Round 1 Results - " + ViewBag.Tournament;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Tournament: Round 1 Results</h2>

@if (Model != null)
{

    var previousGroup = "";
    <div class="row">
        @foreach (var item in Model)
        {
            if (previousGroup != item.Group)
            {
                <a href="Round1Details?Tournament=@item.Tournament&GroupName=@item.Group">
                    <div style="border: 1px solid black;" class="col-md-2 col-md-offset-1">
                        <h3>@Html.Raw(item.Group)</h3>
                        <table class="table table - striped table - bordered table - condensed tablesorter">
                            <thead>
                            <th>Team</th>
                            <th>Points</th>
                            </thead>
                            <tbody>
                                @foreach (var items in Model)
                                {
                                    if (items.Group == item.Group)
                                    {
                                        <tr>
                                            <td>@Html.Raw(items.Team)</td>
                                            <td>@Html.Raw(items.Points)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </a>
                previousGroup = item.Group;

            }

        }
    </div>
}



